<center> <h3> Article Index Page </h3> </center>
<br><hr><br>

<table>
  <thead>
    <tr>
      <th> ID </th>
      <th> Article Name </th>
      <th> Article Description </th>
      <th> Actions </th>
    </tr>
  </thead>

  <tbody>

    <% @articles.each do | x | %>
      <tr>
        <td> <%= x.id %> </td>
        <td> <%= x.title %> </td>
        <td> <%= x.description %> </td>
        <td> Placeholder </td>
      </tr>
    <% end %>

  </tbody>

</table>